@import "tailwindcss";


@font-face {
    font-family: "fonttt-medium";
    src: url('./assets/Fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: "fonttt-regular";
    src: url('./assets/Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "fonttt-light";
    src: url('./assets/Fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: "fonttt-semibold";
    src: url('./assets/Fonts/Montserrat-SemiBold.ttf');
}



body{
    font-family: 'fonttt-regular';
}


:root {
    --primary: rgb(236, 233, 233);
    --text: rgb(171, 190, 136);
    
}


